secrets.h

build/
.vscode/
.idea/

*.elf
*.hex
*.bin
*.map
*.eep

*.tmp
*.bak
paraglide_vario_ESP32/Goes into SD card/Canterbury_Marlborough.ADEM
paraglide_vario_ESP32/Goes into SD card/Southland_Otago.ADEM
PCB files/ESP32 vario_PCB_layout/.history/
